<header class="header">
    <div class="header-logo">
        <a href="/">
            <picture>
                <source srcset="/assets/images/components/header/cronullalogo.avif" type="image/avif">
                <img src="/assets/images/components/header/cronullalogo.webp" alt="Cronulla Triathlon Club" class="header-logo-image">
            </picture>
        </a>
    </div>

    <nav class="navbar">
        <div class="header-nav-links">
            <div class="header-nav-links-left">
                <div class="header-nav-dropdown">
                    <a href="#" class="header-header-nav-dropdown-toggle">Train ▾</a>
                    <div class="header-header-nav-dropdown-menu">
                        <a href="/train/calendar">Calendar</a>
                        <a href="/train/swim">Swim</a>
                        <a href="/train/bike">Bike</a>
                        <a href="/train/run">Run</a>
                        <a href="/train/juniors">Juniors</a>
                    </div>
                </div>
                <div class="header-nav-dropdown">
                    <a href="#" class="header-header-nav-dropdown-toggle">Race ▾</a>
                    <div class="header-header-nav-dropdown-menu">
                        <a href="/race/points-score">Points Scoring Races</a>
                        <a href="/race/triathlons">Club Triathlons</a>
                        <a href="/race/duathlons">Club Duathlons</a>
                        <a href="/race/rwa">Ritchie Walker Aquathlon</a>
                        <a href="/race/jan-hood">Jan Hood Trophy</a>
                        <a href="/race/club-champs">NSW Club Championships</a>
                    </div>
                </div>
            </div>

            <div class="header-nav-links-right">
                <div class="header-nav-dropdown">
                    <a href="#" class="header-header-nav-dropdown-toggle">Belong ▾</a>
                    <div class="header-header-nav-dropdown-menu">
                        <a href="/belong/membership">Membership</a>
                        <a href="/belong/stu-ford">Stu Ford Challenge</a>
                        <a href="/belong/robertson-ride">Robertson Ride</a>
                        <a href="/belong/christmas-run">Christmas Run</a>
                        <a href="/belong/presentation">Club Presentation Night</a>
                        <a href="/belong/history">Club History</a>
                        <a href="/belong/committee">Committee</a>
                        <a href="/belong/life-members">Life Members</a>
                        <a href="/belong/in-memory">In Memory</a>
                        <a href="/belong/past-presidents">Past Presidents</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>