<header class="header">
    <div class="header-logo">
        <a href="/">
            <picture>
                <source srcset="/assets/images/components/header/clublogo.avif" type="image/avif">
                <img src="/assets/images/components/header/clublogo.webp" alt="Cronulla Triathlon Club" class="header-logo-image">
            </picture>
        </a>
    </div>

    <nav class="navbar">
        <div class="header-nav-links">
            <div class="header-nav-links-left">
                <div class="header-nav-dropdown">
                    <a href="#" class="header-header-nav-dropdown-toggle">Train ▾</a>
                    <div class="header-header-nav-dropdown-menu first">
                        <div class="mega-menu" style="display:grid;grid-template-columns:repeat(3,min-content);gap:14px;padding:12px;">
                            <div class="mega-column">
                                <div class="mega-title"><strong>Adults</strong></div>
                                <a href="/train/swim">Swim</a>
                                <a href="/train/bike-skills">Bike Skills</a>
                                <a href="/train/bike-training">Bike Training</a>
                                <a href="/train/run">Run</a>
                            </div>
                            <div class="mega-column">
                                <div class="mega-title"><strong>Juniors</strong></div>
                                <a href="/train/juniors">Program</a>
                                <a href="/train/juniors/juniors-season-kick-off">Season Kick-Off</a>
                                <a href="/train/juniors/juniors-bike-skills">Bike Skills</a>
                                <a href="/train/juniors/juniors-run">Run</a>
                            </div>
                            <div class="mega-column">
                                <div class="mega-title"><strong>All</strong></div>
                                <a href="/train/calendar">Calendar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-nav-dropdown">
                    <a href="#" class="header-header-nav-dropdown-toggle">Race ▾</a>
                    <div class="header-header-nav-dropdown-menu">
                        <a href="/race/club-champion">Club Champion</a>
                        <a href="/race/triathlons">Club Triathlons</a>
                        <a href="/race/duathlons">Club Duathlons</a>
                        <a href="/race/rwa">Ritchie Walker Aquathlon</a>
                        <a href="/race/jan-hood">Jan Hood Trophy</a>
                        <a href="/race/club-champs">NSW Club Championships</a>
                    </div>
                </div>
            </div>

            <div class="header-nav-links-right">
                <div class="header-nav-dropdown">
                    <a href="#" class="header-header-nav-dropdown-toggle">Belong ▾</a>
                    <div class="header-header-nav-dropdown-menu">
                        <a href="/belong/membership">Membership</a>
                        <a href="/belong/robertson-ride">Robertson Ride</a>
                        <a href="/belong/christmas-run">Christmas Run</a>
                        <a href="/belong/presentation">Club Presentation Night</a>
                        <a href="/belong/history">Club History</a>
                        <a href="/belong/committee">Committee</a>
                        <a href="/belong/life-members">Life Members</a>
                        <a href="/belong/in-memory">In Memory</a>
                        <a href="/belong/past-presidents">Past Presidents</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>